Anaconda2-4.2.0-Linux-x86_64.sh
Anaconda3-2020.11-Linux-x86_64.sh
pip_packages/
conda_packages/
pandas-msgpack/
in_silico_framework/
isf-py2-requirements.txt
isf-py3-requirements.txt
pip-20.3.4-py2.py3-none-any.whl
