# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/_libgcc_mutex-0.1-conda_forge.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/_openmp_mutex-4.5-1_gnu.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/asn1crypto-0.22.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/backports-1.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/backports_abc-0.5-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/binutils_impl_linux-64-2.31.1-h6176602_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/binutils_linux-64-2.31.1-h6176602_9.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bkcharts-0.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/blas-1.0-mkl.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/bokeh-0.12.7-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/c-blosc-1.10.2-0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ca-certificates-2020.10.14-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cairo-1.14.8-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2019.11.28-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cffi-1.10.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/chardet-3.0.4-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/click-6.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cloudpickle-0.4.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cryptography-1.8.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cycler-0.10.0-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cython-0.29.14-py27he6710b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cytoolz-0.8.2-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/dask-0.18.2-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/dask-core-0.18.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/dbus-1.10.20-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/decorator-4.1.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/distributed-1.22.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/enum34-1.1.6-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/et_xmlfile-1.0.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/expat-2.1.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/fontconfig-2.12.1-3.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/freetype-2.5.5-2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/funcsigs-1.0.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/functools32-3.2.3.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/futures-3.1.1-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gcc_impl_linux-64-7.3.0-habb00fd_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gcc_linux-64-7.3.0-h553295d_9.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/glib-2.50.2-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gst-plugins-base-1.8.0-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gstreamer-1.8.0-0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gxx_impl_linux-64-7.3.0-hdf63c60_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gxx_linux-64-7.3.0-h553295d_9.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/hdf5-1.8.17-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/heapdict-1.0.0-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/icu-54.1-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/idna-2.6-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipaddress-1.0.18-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipython_genutils-0.2.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jdcal-1.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jinja2-2.9.6-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jpeg-9b-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jsonschema-2.6.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_core-4.3.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.9.0-13_linux64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.9.0-13_linux64_openblas.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libedit-3.1.20191231-h14c3975_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libffi-3.2.1-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-7.2.0-h69d50b8_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-11.2.0-h1d223b6_13.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-3.0.0-1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libgfortran-ng-7.3.0-hdf63c60_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgfortran5-11.2.0-h5c6108e_13.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgomp-11.2.0-h1d223b6_13.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libiconv-1.14-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libopenblas-0.3.18-pthreads_h8fe5266_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libpng-1.6.30-1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libstdcxx-ng-9.1.0-hdf63c60_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxcb-1.12-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libxml2-2.9.4-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/locket-0.2.0-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/lz4-0.10.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/markupsafe-1.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/matplotlib-2.0.2-np111py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/mkl-2017.0.3-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mock-2.0.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/msgpack-python-0.4.8-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/nbformat-4.4.0-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ncurses-6.2-he6710b0_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/neuron-7.7.2-nompi_py27h91e308a_100.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numexpr-2.6.2-np111py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/numpy-1.11.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openblas-0.3.18-pthreads_h4748800_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openpyxl-2.4.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.0.2l-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/packaging-16.8-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pandas-0.19.2-np111py27_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/partd-0.3.8-py27h4e55004_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/patsy-0.4.1-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pbr-4.2.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pcre-8.39-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pip-9.0.1-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pixman-0.34.0-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/psutil-5.2.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pycairo-1.10.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pycparser-2.18-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyopenssl-16.2.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyparsing-2.2.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyqt-5.6.0-py27_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pysocks-1.6.6-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pytables-3.3.0-np111py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/python-2.7.18-h02575d3_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-blosc-1.5.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python-dateutil-2.6.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pytz-2017.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyyaml-3.12-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/qt-5.6.2-5.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/readline-8.0-h7b6447c_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-2.25.1-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scikit-learn-0.20.3-py27ha8026db_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scipy-0.19.0-np111py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/seaborn-0.8-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/setuptools-36.4.0-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/singledispatch-3.4.0.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sip-4.18-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/six-1.10.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/snappy-1.1.6-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sortedcontainers-2.0.4-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/sqlite-3.33.0-h62c20be_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ssl_match_hostname-3.5.0.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/statsmodels-0.8.0-np111py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/subprocess32-3.5.2-py27h14c3975_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tblib-1.3.2-py27_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tk-8.6.10-hbc83047_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/toolz-0.8.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tornado-4.5.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/traitlets-4.3.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/urllib3-1.21.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/wheel-0.29.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxau-1.0.9-h14c3975_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxdmcp-1.1.3-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/yaml-0.1.6-0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zict-0.1.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zlib-1.2.11-0.tar.bz2
